<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ApiKey" value="f4f384540e308bdfc88f463e7d8df69d" />
    <add key="Url" value="api.openweathermap.org/data/2.5/weather" />  
    <add key="ZipCode" value="44312" />
    <add key="CountryCode" value="us" />
    <add key="Units" value="imperial" />
    <add key="Mode" value="xml" />
    <add key="Interval" value="6000" />
    <add key="Log" value="Log.txt" />
  </appSettings>
</configuration>